{% extends 'VidalVeterinarBundle::vidal_layout.html.twig' %}


{% block title %}
	<div class="relative">
		<h1>{{ company.CompanyName|upper|raw }}{% if company.Property is not empty %}, {{ company.Property|raw }}{% endif %}
			{% if company.Country is not empty  and company.Country != 'Unknown' %}
				<span>({{ company.Country }})</span>
			{% endif %}</h1>

		{% if isAdmin %}
			<a class="admin-edit fade" target="_blank"
			   href="{{ path('admin_vidal_veterinar_company_edit', {'id':company.CompanyID}) }}">
				<img src="{{ asset('bundles/vidalmain/images/edit.png') }}"/>
			</a>
		{% endif %}
	</div>
{% endblock %}


{% block nav %}
	<div class="breadcrumbs">
		<div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
			<a href="{{ path('index') }}" itemprop="url">
				<span itemprop="title">Видаль</span>
			</a>
		</div>
		<i></i>

		<div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
			<a href="{{ path('veterinar') }}" itemprop="url">
				<span itemprop="title">Видаль-Ветеринар</span>
			</a>
		</div>
		<i></i>

		<div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
			<a href="{{ path('proizvoditeli') }}" itemprop="url">
				<span itemprop="title">Фирмы-производители</span>
			</a>
		</div>
		<i></i>

		<span>{{ company.CompanyName|raw }}</span>
	</div>
{% endblock %}


{% block vidal %}
	{# препараты #}
	<div class="block">
		<div class="block-anons">
			<div class="block-head">Ветеринарные продукты</div>
		</div>
		{% include 'VidalVeterinarBundle:Vidal:render_products.html.twig' %}
	</div>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		.products-table-name {
			width: 140px;
		}
		.relative {
			position: relative;
		}
	</style>
{% endblock %}