{% extends 'VidalVeterinarBundle::vidal_layout.html.twig' %}


{% block title %}
	<h1>ФИРМЫ-ПРОИЗВОДИТЕЛИ</h1>
{% endblock %}


{% block nav %}
	<div class="breadcrumbs">
		<div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
			<a href="{{ path('index') }}" itemprop="url">
				<span itemprop="title">Видаль</span>
			</a>
		</div>
		<i></i>

		<div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
			<a href="{{ path('veterinar') }}" itemprop="url">
				<span itemprop="title">Видаль-Ветеринар</span>
			</a>
		</div>
		<i></i>

		<span>Фирмы-производители</span>
	</div>
{% endblock %}


{% block vidal %}
	{% if menu_veterinar is defined %}
		{% include 'VidalVeterinarBundle:Vidal:veterinar_menu.html.twig' %}
	{% endif %}

	{% if companies is not empty %}
		<table class="companies products-table">
			<tr class="products-table-header">
				<td>Название</td>
				<td class="right">Страна</td>
			</tr>
			{% for c in companies if c.Name is not empty %}
				<tr>
					<td>
						<a target="_blank" href="{{ path('v_company', {'Name':c.Name}) }}">{{ c.LocalName|raw }}</a>
					</td>
					<td class="right">{{ c.Country }}</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		.companies a {
			text-decoration: none;
		}
		.companies a:hover {
			text-decoration: underline;
		}
	</style>
{% endblock %}