<div class="letters veterinar-letters">
	<div class="p">
		<a href="{{ path('veterinar_letter', {'letter': 'a'}) }}" {{ l == 'А' ? ' class="active"' }}>А</a>
		<a href="{{ path('veterinar_letter', {'letter': 'b'}) }}" {{ l == 'Б' ? ' class="active"' }}>Б</a>
		<a href="{{ path('veterinar_letter', {'letter': 'v'}) }}" {{ l == 'В' ? ' class="active"' }}>В</a>
		<a href="{{ path('veterinar_letter', {'letter': 'g'}) }}" {{ l == 'Г' ? ' class="active"' }}>Г</a>
		<a href="{{ path('veterinar_letter', {'letter': 'd'}) }}" {{ l == 'Д' ? ' class="active"' }}>Д</a>
		<a href="{{ path('veterinar_letter', {'letter': 'e'}) }}" {{ l == 'Е' ? ' class="active"' }}>Е</a>
		<a href="{{ path('veterinar_letter', {'letter': 'z'}) }}" {{ l == 'З' ? ' class="active"' }}>З</a>
		<a href="{{ path('veterinar_letter', {'letter': 'i'}) }}" {{ l == 'И' ? ' class="active"' }}>И</a>
		<a href="{{ path('veterinar_letter', {'letter': 'j'}) }}" {{ l == 'Й' ? ' class="active"' }}>Й</a>
		<a href="{{ path('veterinar_letter', {'letter': 'k'}) }}" {{ l == 'К' ? ' class="active"' }}>К</a>
		<a href="{{ path('veterinar_letter', {'letter': 'l'}) }}" {{ l == 'Л' ? ' class="active"' }}>Л</a>
		<a href="{{ path('veterinar_letter', {'letter': 'm'}) }}" {{ l == 'М' ? ' class="active"' }}>М</a>
		<a href="{{ path('veterinar_letter', {'letter': 'n'}) }}" {{ l == 'Н' ? ' class="active"' }}>Н</a>
		<a href="{{ path('veterinar_letter', {'letter': 'o'}) }}" {{ l == 'О' ? ' class="active"' }}>О</a>
		<a href="{{ path('veterinar_letter', {'letter': 'p'}) }}" {{ l == 'П' ? ' class="active"' }}>П</a>
		<a href="{{ path('veterinar_letter', {'letter': 'r'}) }}" {{ l == 'Р' ? ' class="active"' }}>Р</a>
		<a href="{{ path('veterinar_letter', {'letter': 's'}) }}" {{ l == 'С' ? ' class="active"' }}>С</a>
		<a href="{{ path('veterinar_letter', {'letter': 't'}) }}" {{ l == 'Т' ? ' class="active"' }}>Т</a>
		<a href="{{ path('veterinar_letter', {'letter': 'u'}) }}" {{ l == 'У' ? ' class="active"' }}>У</a>
		<a href="{{ path('veterinar_letter', {'letter': 'f'}) }}" {{ l == 'Ф' ? ' class="active"' }}>Ф</a>
		<a href="{{ path('veterinar_letter', {'letter': 'h'}) }}" {{ l == 'Х' ? ' class="active"' }}>Х</a>
		<a href="{{ path('veterinar_letter', {'letter': 'c'}) }}" {{ l == 'Ц' ? ' class="active"' }}>Ц</a>
		<a href="{{ path('veterinar_letter', {'letter': 'ch'}) }}" {{ l == 'Ч' ? ' class="active"' }}>Ч</a>
		<a href="{{ path('veterinar_letter', {'letter': 'sh'}) }}" {{ l == 'Ш' ? ' class="active"' }}>Ш</a>
		<a href="{{ path('veterinar_letter', {'letter': 'je'}) }}" {{ l == 'Э' ? ' class="active"' }}>Э</a>
		<a href="{{ path('veterinar_letter', {'letter': 'ju'}) }}" {{ l == 'Ю' ? ' class="active"' }}>Ю</a>
		<a href="{{ path('veterinar_letter', {'letter': '8'}) }}" class="en{{ l == '8' ? ' active' }}">8</a>
	</div>
</div>