* {
	font-family: Arial, Vardana, sans-serif !important;
}
body {
	font-size: 14px;
}
p {
	margin: 13px auto !important;
}
.u1 li {
	margin: 1px 0 !important;
}
.u2 li {
	margin: 2px 0 !important;
}
.u3 li {
	margin: 3px 0 !important;
}
.u4 li {
	margin: 4px 0 !important;
}
.u5 li {
	margin: 5px 0 !important;
}
.u6 li {
	margin: 6px 0 !important;
}
.u7 li {
	margin: 7px 0 !important;
}
.u8 li {
	margin: 8px 0 !important;
}
.u9 li {
	margin: 9px 0 !important;
}
.u10 li {
	margin: 10px 0 !important;
}
.u11 li {
	margin: 11px 0 !important;
}
.u12 li {
	margin: 12px 0 !important;
}
.u13 li {
	margin: 13px 0 !important;
}
.u14 li {
	margin: 14px 0 !important;
}
.u15 li {
	margin: 15px 0 !important;
}
.u16 li {
	margin: 16px 0 !important;
}
.u17 li {
	margin: 17px 0 !important;
}
.u18 li {
	margin: 18px 0 !important;
}
.u19 li {
	margin: 19px 0 !important;
}
.u20 li {
	margin: 20px 0 !important;
}
.p1 * {
	line-height: 1px !important;
}
.p2 * {
	line-height: 2px !important;
}
.p3 * {
	line-height: 3px !important;
}
.p4 * {
	line-height: 4px !important;
}
.p5 * {
	line-height: 5px !important;
}
.p6 * {
	line-height: 6px !important;
}
.p7 * {
	line-height: 7px !important;
}
.p8 * {
	line-height: 8px !important;
}
.p9 * {
	line-height: 9px !important;
}
.p10 * {
	line-height: 10px !important;
}
.p11 * {
	line-height: 11px !important;
}
.p12 * {
	line-height: 12px !important;
}
.p13 * {
	line-height: 13px !important;
}
.p14 * {
	line-height: 14px !important;
}
.p15 * {
	line-height: 15px !important;
}
.p16 * {
	line-height: 16px !important;
}
.p17 * {
	line-height: 17px !important;
}
.p18 * {
	line-height: 18px !important;
}
.p19 * {
	line-height: 19px !important;
}
.p20 * {
	line-height: 20px !important;
}
.font10 {
	font-size: 10px;
}
.font11 {
	font-size: 11px;
}
.font12 {
	font-size: 12px;
}
.font13 {
	font-size: 13px;
}
.font14 {
	font-size: 14px;
}
.font15 {
	font-size: 15px;
}
.font16 {
	font-size: 16px;
}
.font17 {
	font-size: 17px;
}
.font18 {
	font-size: 18px;
}
.font19 {
	font-size: 19px;
}
.font20 {
	font-size: 20px;
}
.cke_dialog_background_cover {
	z-index:    -1 !important;
	display:    none !important;
	visibility: hidden !important;
}