/* стили контейнеров */
html {
	margin: 0;
	height: 100%;
}
body {
	margin:      0;
	width:       100%;
	height:      100%;
	font-family: sans-serif;
	font-size:   14px;
	color:       #333333;
}
.wrapper {
	width:      995px;
	margin:     0 auto;
	padding:    0 7px;
	min-height: 100%;
	height:     auto !important;
	height:     100%;
}
.middle {
	width:    100%;
	position: relative;
}
.main {
	padding:        0 35px;
	vertical-align: top;
	min-width:      520px;
}
.content {
	position: relative;
}
.left-sidebar {
	width:          160px;
	max-width:      160px;
	position:       relative;
	vertical-align: top;
}
.right-sidebar {
	width:          242px;
	max-width:      242px;
	position:       relative;
	vertical-align: top;
}
/* header */
.header {
	margin-bottom: 24px;
}
.header table {
	width:           100%;
	border-collapse: collapse;
}
.header table td {
	padding: 0;
}
.header-link {
	display: inline-block;
	padding: 29px 3px;
}
.header-link img, .header-1 {
	width: 143px;
}
.header-1 {
	border-top: 6px solid #b70039;
}
.header-2 {
	padding-left: 30px !important;
}
.header-3 {
	width: 70px;
}
.header-4 {
	padding-top: 18px !important;
	width:       440px;
}
/* footer */
.footer {
	margin-top: 32px;
	border-top: 1px solid #d71344;
	padding:    22px 10px 32px;
	position:   relative;
}
.footer-info {
	max-width:  672px;
	margin:     0 auto;
	text-align: justify;
	font-size:  12px;
	color:      #555;
	margin-bottom: 20px;
}
.footer-copyright {
	height:         20px;
	margin:         15px 0;
	vertical-align: bottom;
	text-align:     center;
}
.footer-copyright span {
	display:       inline-block;
	margin-bottom: 3px;
	font-size:     90%;
}
.footer-logo {
	display:  block;
	border:   none;
	position: absolute;
	bottom:   6px;
	right:    0;
}
.footer-contacts {
	position: absolute;
	bottom:   15px;
	left:     0;
}
.footer-contacts a {
	margin-right: 15px;
	font-size:    15px;
	font-weight:  bold;
}
/* глобальные теги */
sup {
	line-height: 5px;
}
a {
	color: #d71344;
}
img {
	border: none;
}
input[type=text], input[type=number], input[type=password], input[type=email], input[type=url] {
	width:                 308px;
	height:                27px;
	padding:               0 8px 2px;
	border-radius:         4px;
	-webkit-border-radius: 4px;
	-moz-border-radius:    4px;
	border:                1px solid #d71344;
}
select {
	width: 326px;
}
textarea {
	width:                 308px;
	padding:               2px 8px;
	height:                60px;
	border-radius:         4px;
	-webkit-border-radius: 4px;
	-moz-border-radius:    4px;
	border:                1px solid #d71344;
	resize:                vertical;
}
table {
	border-collapse: collapse;
	border-spacing:  0;
}
h1 {
	font-size:     16px;
	color:         #d71344;
	font-weight:   bold;
	margin-bottom: 20px;
	position:      relative;
}
h1 span {
	font-style: italic;
	color:      #999;
}
.module h1 span {
	color:      #d71344;;
	font-style: normal;
}
#main h1:first-of-type {
	margin-top: 0;
}
/* глобальные классы */
.caption {
	color: #d71344;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.bg-gray {
	background: #F6F6F6;
}
.red {
	color: #dd0000;
}
.asterisk {
	margin-left: 3px;
	font-weight: bold;
}
.loz {
	vertical-align: bottom;
}
.small {
	font-style:  normal;
	font-weight: normal;
	font-size:   13px;
	color:       #999 !important;
}
.tip {
	color:     #476173;
	font-size: 13px;
}
.bold {
	font-weight: bold;
}
.linke {
	border-bottom:   1px dashed #d71344;
	text-decoration: none;
	color:           #2f4053;
	font-weight:     bold;
	display:         inline-block;
}
.linke:hover {
	color: #d71344;
}
.menu-buttons {
	margin-bottom: 13px;
}
.btn-blue {
	display:             inline-block;
	padding:             6px 16px;
	border:              0;
	border-bottom:       1px solid #496b93;
	text-shadow:         0 1px 0 #5578A0;
	background:          #658AB0 url(../images/button_bgf.png?1) repeat-x top;
	background-position: 0px -12px;
	color:               #FFF;
	text-decoration:     none;
}
.btn-blue.active {
	box-shadow: inset 0 0 10px #333;
}
.btn-blue.last {
	float: right;
}
.btn-blue:hover {
	background-position: 0 -5px;
	border-bottom-color: #4e7199;
}
.btn-blue:active {
	position: relative;
	top:      1px;
}
tr.bold td {
	background-color: #D7E1EC;
	padding-left:     5px !important;
}
.good {
	color: green;
}
.note {
	display:         block;
	background:      beige;
	border:          1px solid rgb(224, 224, 196);
	font-size:       13px;
	text-align:      center;
	padding:         3px 6px;
	color:           #726b53;
	text-decoration: none;
}
.note:hover {
	color:  #534d3c;
	border: 1px solid rgb(192, 192, 168);
}
.dashed {
	text-decoration: none;
	border-bottom:   1px dashed #268366;
}
.dot {
	border-top: 1px dotted #d1d1d1;
	margin-top: 2px;
}
.clear {
	clear: both;
}
.dashed:hover {
	border-bottom: none;
}
.dotted {
	line-height:   19px;
	border-bottom: 2px dotted #c1c1c1;
}
.dotted:hover {
	border-bottom: 2px dotted #999;
}
.underline {
	text-decoration: underline;
}
.no-underline {
	text-decoration: none;
}
.no-underline:hover {
	text-decoration: underline;
}
.ul-style, .ul {
	padding:    0;
	margin:     0;
	list-style: none;
}
.ul-style li {
	padding-left:  13px;
	background:    url('../images/bullets.gif') no-repeat -13px -13px;
	margin-bottom: 2px;
}
.ul-style.black li {
	margin-top: 8px;
}
.ul-style.black a {
	display:   inline-block;
	color:     #333;
	font-size: 12px !important;
}
.border-line {
	border: 1px solid #aaa;
}
.border-radius {
	border-radius:         4px;
	-moz-border-radius:    4px;
	-webkit-border-radius: 4px;
}
.italic {
	font-style: italic !important;
}
.thanks {
	margin:           5px 0 15px;
	padding:          8px 15px 10px;
	font-style:       italic;
	font-weight:      bold;
	color:            #2f4053;
	background-color: #F6F6F6;
	font-size:        15px;
}
.thanks.error {
	color:      maroon;
	background: palegoldenrod;
}
.raspberry {
	color: #d71344;
}
#vidal .highlight {
	color:       #d71344;
	font-weight: bold;
}
.no-selection, .no-selection * {
	-webkit-touch-callout: none;
	-webkit-user-select:   none;
	-khtml-user-select:    none;
	-moz-user-select:      none;
	-ms-user-select:       none;
	user-select:           none;
}
.ajax-loader {
	height:     16px;
	width:      16px;
	background: url(../images/ajax-loader.gif) no-repeat top left;
}
.title {
	background-color: #F5F5F5;
	font-weight:      bold;
	font-size:        16px;
}
.title a {
	display:         block;
	padding:         5px 7px 6px;
	text-decoration: none;
	color:           #2e3f51;
}
.title a:hover {
	text-decoration: underline;
}
.yad {
	margin: 20px 0 10px;
}
.bads {
	font-size: 9px;
	color:     #2f4053;
}
.table-wrap {
	max-width:  522px;
	overflow-x: auto;
}
#wrapper .tags {
	overflow:   hidden;
	margin-top: 20px;
}
#wrapper .tags a {
	display:         inline-block;
	position:        relative;
	float:           left;
	font-size:       11px;
	border:          1px solid #d4d4d4;
	border-radius:   3px;
	background:      #f6f6f6;
	color:           #505050 !important;
	text-decoration: none !important;
	margin:          0 4px 4px 0;
	padding:         2px 3px;
}
#wrapper .tags a:hover {
	color:            #333;
	background-color: #eee;
	border-color:     #bbb;
}
/* боковое меню */
.sidebar-menu .active {
	color: #6c7580;
}
.sidebar-menu li {
	margin-bottom: 16px;
}
.sidebar-menu li a {
	font-weight:     bold;
	font-size:       16px;
	text-decoration: none;
}
/* блок авторизации */
.auth {
	margin:  30px 0 12px;
	padding: 10px;
	border:  2px solid #eee;
}
.auth .auth-fail-message {
	display:    none;
	margin:     10px 2px 0;
	font-style: italic;
	font-size:  16px;
	text-align: center;
}
.auth .auth-info {
	margin-bottom: 10px;
	font-style:    italic;
	font-size:     16px;
	text-align:    center;
}
.auth .auth-password {
	margin: 8px 0 15px;
}
#username, #password {
	height:        26px;
	width:         120px;
	border-radius: 0;
	border:        none;
	background:    #e1e1e1;
}
.auth label {
	display:       block;
	margin-bottom: 4px;
	font-style:    italic;
	font-size:     14px;
	color:         #999;
}
.auth-submit {
	text-align: center;
}
.auth-welcome {
	margin-bottom: 10px;
	color:         #999;
	font-style:    italic;
	font-size:     15px;
}
.auth-controls li {
	margin-bottom: 10px;
}
.auth-controls li a {
	font-weight:     bold;
	font-size:       16px;
	text-decoration: none;
}
/* guest links */
.go-registration {
	margin-bottom: 20px;
	font-size:     14px;
	text-align:    center;
	font-weight:   bold;
}
.go-reset {
	margin-top: 14px;
}
.go-reset a {
	color:     #919191;
	font-size: 12px;
}
/* auth-popup */
.auth-popup {
	display:            none;
	position:           fixed;
	width:              200px;
	padding:            18px 30px 26px;
	top:                50%;
	left:               50%;
	margin-top:         -220px;
	margin-left:        -130px;
	background:         white;
	border:             none;
	z-index:            1001;
	box-shadow:         0 0 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0 0 10px rgba(0, 0, 0, 0.5);
}
.auth-popup input {
	width: 184px;
}
.auth-popup .auth-submit {
	margin-top: 24px;
	text-align: center;
}
.auth-popup-close {
	display:  block;
	position: absolute;
	top:      0;
	right:    0;
	cursor:   pointer;
	opacity:  0.3;
}
.auth-popup-close:hover {
	opacity: 1;
}
.closed-info {
	display:    none;
	font-size:  15px;
	background: beige;
	padding:    6px 8px 7px;
}
.closed-info span {
	margin-right: 6px;
}
/* форма */
.form_table {
	width: 100%;
}
.form_table td.label {
	width:          40%;
	vertical-align: middle;
	padding-bottom: 8px;
	color:          #666d75;
}
.form_table td.widget {
	width:          60%;
	padding-bottom: 8px;
}
.form_table input[type="checkbox"] {
	margin-left: 0;
}
.form_table button, .btn-red {
	display:          inline-block;
	margin:           0;
	padding:          5px 22px 7px;
	background-color: #d71344;
	color:            white;
	border:           none;
	outline:          none;
	cursor:           pointer;
	text-decoration:  none;
	font-size:        15px;
	text-align:       center;
}
.form_table button:hover, .btn-red:hover, .form_table button:active, .btn-red:active {
	background-color: #c0113d;
}
.form_table button:active, .btn-red:active {
	position: relative;
	top:      1px;
}
.form_table .form_button {
	padding-top: 20px;
}
.form_table .form_error ul {
	margin:       3px 0 10px;
	padding-left: 15px;
	color:        #d00;
}
.form_table .data-help {
	color:        #A1A1A1;
	font-size:    11px;
	padding-left: 1px;
}
.form_errors {
	color: #d00;
}
/* drug */
#vidal {
	position: relative;
}
#vidal h1 {
	margin-top: 0;
}
#vidal h1 a {
	text-decoration: none;
	color:           #00468c;
}
#vidal .mnn {
	color:       #476173 !important;
	margin-left: 5px;
}
#vidal h1 a.mnn {
	font-size:   15px;
	margin-left: 20px;
}
#vidal h1 a:hover {
	text-decoration: underline;
}
/* anons */
.anons {
	margin:     13px 0;
	background: #f5f5f5;
	padding:    3px 5px 5px;
	color:      #476173;
}
.anons-drugs {
	margin-top: 0;
}
.anons-head span {
	color: #476173;
}
.anons-content {
	font-size:  13px;
	margin-top: 2px;
	color:      #555;
}
.anons-product {
	font-weight: bold;
}
.anons-footer {
	position:    relative;
	background:  url(../images/icons/arr-right10.png) #f5f5f5 no-repeat 6px 7px;
	padding:     4px 20px 5px;
	color:       #476173;
	margin:      18px 0 4px;
	font-weight: 700;
	border:      1px solid rgba(71, 97, 115, 0.5);
	cursor:      pointer;
}
.anons-footer i {
	display:    inline-block;
	position:   absolute;
	right:      6px;
	top:        5px;
	color:      gray;
	font-style: normal;
	font-size:  12px;
}
.anons-footer.expanded {
	background-image: url(../images/icons/arr-down10.png);
}
.anons-footer span {
	color:       black;
	margin-left: 4px;
}
.anons-info {
	font-size:  12px;
	margin-top: 2px;
}
.anons-info, .anons-info * {
	color: #999 !important;
}
.announcement ul {
	display:   none;
	font-size: 13px;
}
.more-link {
	background:  url(../images/icons/right-red.png) #f5f5f5 no-repeat 4px 6px;
	padding:     4px 5px 5px 24px;
	color:       #d71344;
	font-weight: bold;
	font-size:   14px;
	line-height: 18px;
	border:      1px solid rgba(71, 97, 115, 0.5);
	cursor:      pointer;
	margin:      22px 0 6px;
}
.more-link.down-red {
	background:  url(../images/icons/down-red.png) #f5f5f5 no-repeat 4px 6px;
}
.more-link div {
	color: black;
}
.more-about.small {
	font-size: 12px;
}
/* block */
.block {
	margin-top: 17px;
}
.block-anons {
	padding:    3px 5px;
	background: #f5f5f5;
}
.block-head {
	margin-bottom: 3px;
	margin-top:    2px;
	font-weight:   bold;
	color:         #2e3f51;
	font-size:     15px;
}
.block-head span {
	color: #333;
}
.block-tip span {
	color: #6C8EA7;
}
.block-tip {
	font-size: 13px;
	color:     #999;
}
.block-content {
	font-size: 13px;
}
.block-content table {
	width:           100%;
	margin:          5px 0;
	border-collapse: collapse;
	font-size:       13px;
	max-width:       520px;
}
.block-content td {
	padding: 3px 5px;
	border:  1px solid #ebebeb;
}
.block-content p {
	margin:    5px 0;
	font-size: 13px;
}
.block-highlight {
	box-shadow:            0 0 15px rgba(0, 0, 0, 0.7);
	border-radius:         4px;
	-moz-border-radius:    4px;
	-webkit-border-radius: 4px;
}
.block-info .block-head {
	display: inline-block;
	width:   145px;
}
.descr {
	overflow: hidden;
}
.descr a, .descr span {
	display:        inline-block;
	float:          left;
	vertical-align: bottom;
	margin:         0;
	font-size:      14px;
	line-height:    18px;
}
.descr a {
	margin-left: 6px;
}
/* atc */
.atc-name {
	margin-left:  2px;
	margin-right: 5px;
}
/* conditions */
.conditions {
	overflow: hidden;
	margin:   18px 0 10px;
}
.conditions a {
	float:        left;
	margin-right: 5px;
}
/* navigation */
.navigation {
	margin-top: 20px;
	font-size:  14px;
	position:   relative;
}
.navigation > i {
	display:     block;
	height:      5px;
	line-height: 0;
	font-size:   0;
	background:  url('../images/navigation_bg.gif');
}
.navigation-items {
	padding:    2px 3px 6px;
	border:     1px solid #e9e9e9;
	border-top: 0;
	background: url('../images/navigation_items_bg.gif') repeat-x 0 100%;
}
.navigation-items div {
	display:        inline-block;
	vertical-align: top;
	width:          46%;
	margin-bottom:  5px;
	padding-left:   13px;
	background:     url('../images/bullets.gif') no-repeat -13px -13px;
}
.navigation-items div:last-child {
	margin-bottom: 0;
}
.navigation-items a {
	text-decoration: none;
	color:           #2e3f51;
	border-bottom:   1px dashed #aaa;
}
.navigation-items a:hover {
	border-bottom: none;
	color:         #d71344;
}
.navigation-items a span {
	color: #333;
}
/* copy */
.copy {
	margin-top: 20px;
}
.copy-head {
	color:     #476173;
	font-size: 12px;
}
.copy textarea {
	width:                 100%;
	height:                47px !important;
	margin:                2px 0;
	padding:               2px 4px;
	font-size:             12px;
	opacity:               0.5;
	border:                1px solid #C54B69;
	border-radius:         0;
	-webkit-border-radius: 0;
	-moz-border-radius:    0;
	max-width:             520px;
}
.copy textarea:hover {
	opacity: 1;
}
/* vidal */
.vidal .pictures img {
	display:      inline-block;
	max-height:   500px;
	margin-right: 20px;
	max-width: 200px;
}
.vidal .elaboration {
	font-size:   16px;
	margin-left: 3px;
	font-weight: normal;
}
.vidal a {
	font-size: 14px;
}
/* products-table */
.products-table {
	width:           100%;
	border-collapse: collapse;
	border-spacing:  0;
	font-size:       14px;
	line-height:     12px;
	margin:          0 !important;
}
.products-table td {
	border:         0;
	border-bottom:  1px solid #D4D4D4;
	padding:        4px 2px;
	vertical-align: middle;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
.products-table-loz {
	border-bottom: 0 !important;
	padding:       0 !important;
}
.products-table-header td {
	font-weight:    bold;
	color:          #476173;
	border-bottom:  0;
	padding-top:    10px;
	padding-bottom: 5px;
	font-size:      12px;
}
.products-table tr.important .products-table-name {
	font-weight: bold;
}
.products-table-name {
	font-size:     13px;
	line-height:   17px;
	position:      relative;
	padding-left:  4px !important;
	padding-right: 1px !important;
}
.products-table-name > a {
	font-size: 13px !important;
}
.products-table-name img.m {
	display:  inline-block;
	position: absolute;
	width:    16px;
	opacity:  0.6;
	cursor:   pointer;
	top:      5px;
	right:    12px;
}
.products-table-name > div {
	position:              absolute;
	left:                  0;
	top:                   28px;
	display:               none;
	width:                 400px;
	padding:               6px 10px;
	background:            beige;
	border:                1px solid #ccc;
	border-radius:         4px;
	-webkit-border-radius: 4px;
	-moz-border-radius:    4px;
	box-shadow:            0 0 10px rgba(0, 0, 0, 0.4);
	z-index:               999;
	font-size:             13px;
}
.products-table-name > div p {
	margin: 3px;
}
.products-table-name.admin {
	position: relative;
}
.products-table-name.admin:hover .admin-edit {
	opacity: 1;
}
.products-table-company {
	width:         30%;
	font-size:     14px;
	line-height:   14px;
	padding-left:  0;
	padding-right: 0;
}
.products-table-company a {
	font-size: 12px;
}
.products-table-picture {
	text-align:    center;
	padding-left:  0 !important;
	padding-right: 4px !important;
	width: 105px;
}

@media (max-width: 600px) {
    .products-table-picture {
        display: none;
    }
    .products-table-picture-header {
        display: none;
    }
}

.products-table-picture img {
	max-width:  100px !important;
	max-height: 150px;
}
.products-table-zip {
	margin-left: 10px;
	font-size:   12px;
	max-width:   115px;
}
.products-table-zip > span {
	display:   block;
	margin:    5px 0 2px;
	font-size: 12px;
	color:     #999;
}
.products-table-indication > div {
	display: none;
}
.products-table-indication p {
	margin: 0;
}
.products-table tr:last-child td {
	border-bottom: 0;
}
.molecule-name span {
	color: gray;
}
/* admin-edit icon */
.admin-edit {
	display:  inline-block;
	position: absolute;
	top:      0;
	right:    0;
	opacity:  0;
	z-index:  10;
}
.admin-edit img {
	width:  18px;
	border: none !important;
}
.admin-edit.fade {
	opacity: 0.4;
}
.admin-edit.fade:hover {
	opacity: 1;
}
/* no-results */
.no-results {
	margin-top: 10px;
	padding:    6px 10px 7px;
	background: #f5f5f5;
	font-size:  16px;
	color:      #476173;
}
.no-results span {
	color: steelblue;
}
/* search */
#search_form {
	width: 440px;
}
#search_form .chosen-container-single .chosen-single {
	border-radius: 0;
}
#search_form table {
	width: 100%;
}
#search_form .search-type {
	vertical-align: top;
	background:     transparent;
	border:         none;
	font-style:     italic;
	width:          175px;
	font-size:      15px;
}
#search_form .search-inputs {
	width: 257px;
}
#search_form .search-query,
#search_form .search-submit {
	float: right;
}
#search_form .sf {
	width: 261px;
}
#search_form .st {
	padding: 5px 0 0 2px;
}
#search_form .row1 td {
	border:     1px solid #ccc;
	background: #F6F6F6;
}
.search td {
	padding: 0;
}
.search-inputs {
	overflow: hidden;
}
.search .search-type {
	width: 160px;
}
.search .search-query {
	display:        inline-block;
	width:          195px;
	margin:         0 0 0 2px;
	padding:        0 6px;
	border:         none;
	outline:        none;
	height:         50px;
	background:     #F6F6F6;
	vertical-align: top;
	font-style:     italic;
	font-size:      14px;
}
.search-bad {
	position:  absolute;
	left:      0;
	bottom:    -20px;
	color:     #2f4053;
	font-size: 14px;
}
.search-bad > * {
	display:        inline-block;
	vertical-align: top;
}
.search .search-inputs {
	display: inline-block;
}
#wrapper .search .chosen-container-single .chosen-single {
	border:     none;
	height:     50px;
	background: #F6F6F6;
}
#wrapper #search_form .chosen-container-active.chosen-with-drop .chosen-single {
	border: none;
}
#wrapper #search_form .chosen-container .chosen-drop {
	border:        1px solid #eee;
	border-radius: 0;
	background:    #F6F6F6;
}
.search .chosen-container-single .chosen-single span {
	margin-top: 12px;
}
.search .chosen-container {
	vertical-align: top;
	color:          #2e3f51;
	font-style:     italic;
	font-size:      14px;
}
.search .chosen-container-single .chosen-single div {
	top:   13px;
	width: 16px;
}
.search .chosen-container-single .chosen-single span {
	margin-right: 16px;
}
.search .chosen-container-active .chosen-single {
	border:     none;
	box-shadow: none;
}
.search .search-submit {
	background: #F6F6F6 url(../images/search.png) no-repeat 50% 50%;
	width:      49px;
	height:     49px;
	border:     none;
	cursor:     pointer;
	outline:    none;
}
#searche_link {
	border-bottom:   1px dashed #d71344;
	text-decoration: none;
	color:           #2f4053;
	font-size:       14px;
	float:           right;
}
.searchl {
	font-size: 12px;
	color:     #666;
}
/* search-info */
.search-info {
	margin-left:  5px;
	padding-left: 22px;
	font-size:    15px;
	color:        #476173;
	background:   url(../images/search_16.png) no-repeat top left;
}
.search-info b {
	color: #333;
}
/* pagination */
.pagination {
	overflow:  hidden;
	font-size: 15px;
}
.pagination span {
	display:      inline-block;
	width:        26px;
	text-align:   center;
	height:       22px;
	line-height:  22px;
	margin-right: 2px;
	font-weight:  bold;
	float:        left;
	border:       1px solid #cfd1da;
}
.pagination a {
	text-decoration: none;
	display:         inline-block;
	width:           26px;
	color:           #d71344;
}
.pagination .current, .pagination span:hover a {
	color:            white;
	background-color: #d71344;
}
.pagination .next a, .pagination .previous a, .pagination .next, .pagination .previous {
	width: 51px;
}
/* menu */
.menu {
	overflow:      hidden;
	margin-bottom: 24px;
}
.menu a {
	position:          relative;
	display:           block;
	float:             left;
	width:             130px;
	height:            99px;
	background-image:  url(../images/bg/menu-small2.png);
	background-repeat: no-repeat;
	z-index:           10;
}
.menu a img {
	display:  inline-block;
	position: absolute;
	bottom:   12px;
	left:     12px;
	z-index:  5;
}
.menu-drugs {
	background-position: 0 0;
}
.menu-drugs .linke {
	margin-bottom: 10px;
}
.menu-symptoms {
	background-position: -130px 0;
}
.menu-doctors {
	background-position: -260px 0;
}
.menu-pharmacy {
	background-position: -390px 0;
}
.menu-drugs:hover, .menu-drugs.active {
	background-position: 0 -101px;
}
.menu-symptoms:hover, .menu-symptoms.active {
	background-position: -130px -101px;
}
.menu-doctors:hover, .menu-doctors.active {
	background-position: -260px -101px;
}
.menu-pharmacy:hover, .menu-pharmacy.active {
	background-position: -390px -101px;
}
.menu-small .menu-drugs:hover, .menu-small .menu-drugs.active {
	background-position: 0 -100px;
}
.menu-small .menu-symptoms:hover, .menu-small .menu-symptoms.active {
	background-position: -130px -100px;
}
.menu-small .menu-doctors:hover, .menu-small .menu-doctors.active {
	background-position: -260px -100px;
}
.menu-small .menu-pharmacy:hover, .menu-small .menu-pharmacy.active {
	background-position: -390px -100px;
}
.menu-big a {
	background-image: url(../images/bg/menu-big2.png);
	height:           246px;
}
.menu-big .menu-drugs {
	background-position: 0 -1px;
}
.menu-big .menu-symptoms {
	background-position: -130px -1px;
}
.menu-big .menu-doctors {
	background-position: -260px -1px;
}
.menu-big .menu-pharmacy {
	background-position: -390px -1px;
}
.menu-big .menu-drugs:hover, .menu-big .menu-drugs.active {
	background-position: 0 -249px;
}
.menu-big .menu-symptoms:hover, .menu-big .menu-symptoms.active {
	background-position: -130px -249px;
}
.menu-big .menu-doctors:hover, .menu-big .menu-doctors.active {
	background-position: -260px -249px;
}
.menu-big .menu-pharmacy:hover, .menu-big .menu-pharmacy.active {
	background-position: -390px -249px;
}
/* breadcrumbs */
.breadcrumbs {
	margin:      -10px 0 20px;
	font-size:   14px;
	color:       #2f4053;
	line-height: 17px;
	max-width:   520px;
}
.breadcrumbs > * {
	display:        inline-block;
	vertical-align: top;
}
.breadcrumbs i {
	width:      16px;
	height:     16px;
	background: url(../images/menu-next.png) no-repeat 0 0;
}
.breadcrumbs a {
	color: #2f4053;
}
/* tabs */
.tabs {
	margin-bottom: 22px;
	background:    none repeat scroll 0 0 #E8F2F4;
	border:        1px solid #D6DADD;
	position:      relative;
}
.menu-drugs .tabs {
	margin-bottom: 26px;
}
.tabs a {
	display:         inline-block;
	padding:         5px 5px 6px 6px;
	text-decoration: none;
	color:           #2e3f51;
	font-weight:     bold;
	font-size:       13px;
}
.tabs.veterinar-menu a {
	padding:   5px 5px 6px 6px !important;
	font-size: 12px !important;
}
.tabs a.active {
	color:            white;
	background-color: #2e3f51;
}
.tabs a.active:hover {
	background-color: #2e3f51;
}
.tabs a:hover {
	background: #D4D4D4;
}
.tabs-more {
	display:    none;
	position:   absolute;
	width:      200px;
	top:        27px;
	right:      -1px;
	background: none repeat scroll 0 0 #E8F2F4;
	border:     1px solid #D6DADD;
	z-index:    999;
}
.tabs-more a {
	display: block;
}
/* info-line */
.info-line {
	margin-top:    17px;
	padding:       4px 6px 5px;
	font-weight:   bold;
	color:         #2e3f51;
	font-size:     15px;
	margin-bottom: 4px;
	background:    #f5f5f5;
}
.info-line i {
	display:    inline-block;
	margin:     0 1px;
	font-style: normal;
	color:      #476173;
}
.info-line span {
	color: #333;
}
/* banners */
.banner {
	position: relative;
	margin:   0 auto;
	border:   1px solid #ddd;
}
.banner-top img {
	border: none;
}
.banner-bottom {
	clear:  both;
	margin: 0 auto 20px;
}
.banner a, .banner img, .banner div {
	display:  block;
	position: absolute;
	top:      0;
	left:     0;
	z-index:  5;
}
.banner a {
	position: absolute;
}
.left-sidebar > div, .right-sidebar > div, .left-sidebar > a {
	margin-bottom: 25px;
}
.footer-banner {
	text-align: center;
}
.footer-banner > div {
	display:    inline-block;
	margin-top: 20px;
}
.vd {
	display:         block;
	border:          1px solid #d71344;
	text-decoration: none;
	color:           black;
	font-size:       12px;
	text-align:      center;
	padding:         6px 0 4px;
	background:      #f3f3f3;
	font-family:     "Tahoma", sans-serif;
}
.vd p {
	margin: 6px 0;
}
.vd p.vd-v {
	color:       #d71344;
	font-weight: bold;
	margin:      12px 0 6px;
	font-size:   14px;
}
.vd img {
	width: 100px;
}
/* description */
.description {
	border:        3px solid #eee;
	font-size:     14px !important;
	margin-bottom: 10px;
	color:         #555;
}
.description > span {
	display:       block;
	background:    #f5f5f5;
	padding:       4px 7px 7px;
	color:         #476173;
	border-bottom: 1px solid #eee;
}
.description > div {
	padding: 6px 7px 8px;
}
/* module */
.module {
	position: relative;
}
.module.hidden {
	border: none;
}
.module-1 {
	position:      relative;
	border:        3px solid #eee;
	font-size:     14px !important;
	color:         #555;
	margin-bottom: 24px;
}
.module-1 p {
	margin: 0;
}
.module-1 .module-title {
	background:    #f5f5f5;
	padding:       4px 10px 6px;
	color:         #476173;
	font-size:     15px;
	border-bottom: 1px solid #eee;
}
.module-1 .module-body {
	padding: 5px 10px 7px;
}
/* text */
.text {
	overflow:  hidden;
	font-size: 14px;
}
.text * {
	font-family: inherit !important;
}
.text pre {
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
	word-wrap:   break-word;
}
.article .text, .publication .text {
	padding: 0;
	margin:  0;
}
.text p {
	margin-left:  0 !important;
	margin-right: 0 !important;
}
.text a,
.text a * {
	color:           #d71344 !important;
	text-decoration: none !important;
}
.text a:hover,
.text a *:hover {
	text-decoration: underline !important;
}
.text p {
	margin-top:    0 !important;
	margin-bottom: 9px !important;
}
.text p,
.text p * {
	line-height: inherit !important;
}
.text td p {
	margin: 0 !important;
}
.text sup,
.text sup * {
	vertical-align: top;
	font-size:      11px !important;
	line-height:    9px !important;
}
#wrapper .text table {
	width: auto !important;
	max-width: 100% !important;
}
#wrapper .text img:not(.products-table-picture img) {
	max-width: 100% !important;
}
/* ck editor */
.u1 li {
	margin: 1px 0 !important;
}
.u2 li {
	margin: 2px 0 !important;
}
.u3 li {
	margin: 3px 0 !important;
}
.u4 li {
	margin: 4px 0 !important;
}
.u5 li {
	margin: 5px 0 !important;
}
.u6 li {
	margin: 6px 0 !important;
}
.u7 li {
	margin: 7px 0 !important;
}
.u8 li {
	margin: 8px 0 !important;
}
.u9 li {
	margin: 9px 0 !important;
}
.u10 li {
	margin: 10px 0 !important;
}
.u11 li {
	margin: 11px 0 !important;
}
.u12 li {
	margin: 12px 0 !important;
}
.u13 li {
	margin: 13px 0 !important;
}
.u14 li {
	margin: 14px 0 !important;
}
.u15 li {
	margin: 15px 0 !important;
}
.u16 li {
	margin: 16px 0 !important;
}
.u17 li {
	margin: 17px 0 !important;
}
.u18 li {
	margin: 18px 0 !important;
}
.u19 li {
	margin: 19px 0 !important;
}
.u20 li {
	margin: 20px 0 !important;
}
.p1 *, .p1 {
	line-height: 1px !important;
}
.p2 *, .p2 {
	line-height: 2px !important;
}
.p3 *, .p3 {
	line-height: 3px !important;
}
.p4 *, .p4 {
	line-height: 4px !important;
}
.p5 *, .p5 {
	line-height: 5px !important;
}
.p6 *, .p6 {
	line-height: 6px !important;
}
.p7 *, .p7 {
	line-height: 7px !important;
}
.p8 *, .p8 {
	line-height: 8px !important;
}
.p9 *, .p9 {
	line-height: 9px !important;
}
.p10 *, .p10 {
	line-height: 10px !important;
}
.p11 *, .p11 {
	line-height: 11px !important;
}
.p12 *, .p12 {
	line-height: 12px !important;
}
.p13 *, .p13 {
	line-height: 13px !important;
}
.p14 *, .p14 {
	line-height: 14px !important;
}
.p15 *, .p15 {
	line-height: 15px !important;
}
.p16 *, .p16 {
	line-height: 16px !important;
}
.p17 *, .p17 {
	line-height: 17px !important;
}
.p18 *, .p18 {
	line-height: 18px !important;
}
.p19 *, .p19 {
	line-height: 19px !important;
}
.p20 *, .p20 {
	line-height: 20px !important;
}
.font10 *, .font10 {
	font-size: 10px !important;
}
.font11 *, .font11 {
	font-size: 11px !important;
}
.font12 *, .font12 {
	font-size: 12px !important;
}
.font13 *, .font13 {
	font-size: 13px !important;
}
.font14 *, .font14 {
	font-size: 14px !important;
}
.font15 *, .font15 {
	font-size: 15px !important;
}
.font16 *, .font16 {
	font-size: 16px !important;
}
.font17 *, .font17 {
	font-size: 17px !important;
}
.font18 *, .font18 {
	font-size: 18px !important;
}
.font19 *, .font19 {
	font-size: 19px !important;
}
.font20 *, .font20 {
	font-size: 20px !important;
}
/* overlay */
#overlay {
	position:       fixed;
	display:        none;
	top:            0;
	left:           0;
	width:          100%;
	height:         100%;
	background:     url('../images/bg/dia.png') repeat top left;
	filter:         alpha(opacity=30);
	-moz-opacity:   .3;
	-khtml-opacity: .3;
	opacity:        0.3;
	z-index:        1000;
}
/* кнопка прокрутки наверх */
#top-link {
	display:     none;
	z-index:     999;
	opacity:     0.7;
	position:    fixed;
	top:         100%;
	left:        100%;
	margin-top:  -80px;
	margin-left: -80px;
}
#top-link:hover {
	opacity: 1;
}
/* jquery-ui-autocomplete */
.ui-menu {
	width: 300px !important;
}
.ui-menu-item em {
	font-style:  normal;
	font-weight: bold;
}
.ui-menu .ui-menu-item a {
	font-size: 12px;
}
.ui-menu .aut.ui-menu-item {
	border-bottom: 1px dotted #ccc;
}
.ui-menu .aut.ui-menu-item:last-child {
	border-bottom: none;
}
.ui-menu .aut.ui-menu-item a {
	line-height: 1.2;
	color:       #2e3f51;
}
.ui-menu .aut.ui-menu-item i {
	margin-right: 8px;
	font-size:    12px;
	color:        #999;
}
/* реклама вакансий */
#phrpAd {
	background: #FAFAFA;
	border:     1px solid #CED2D5 !important;
}
#phrpAd h1 {
	background-color: #D8DBE2 !important;
	color:            #476173 !important;
	font-size:        12px !important;
	padding:          0 0 2px !important;
	margin-bottom:    5px !important;
}
#phrpAd a {
	text-decoration: none !important;
	color:           #555 !important;
}
#phrpAd a:hover {
	text-decoration: underline !important;
}
#phrpAd .aSTtl a {
	font-size: 11px;
	color:     #d71344 !important;
}
#phrpAd .aCt {
	font-weight: normal !important;
	color:       gray !important;
	font-size:   11px;
}
#phrpAd .aTtl {
	font-size: 12px !important;
}
#phrpAd .aItem {
	margin:         5px 10px 0 !important;
	border-bottom:  1px dashed #CED2D5;
	padding-bottom: 6px;
}
/* popups */
.popupMarket {
	position:      fixed;
	background:    #FFF0F0;
	border:        2px solid #555;
	box-shadow:    0px 0px 10px rgba(0, 0, 0, 0.5);
	text-align:    center;
	top:           40%;
	left:          50%;
	width:         250px;
	margin-left:   -125px;
	padding:       20px;
	border-radius: 5px;
	z-index:       999999;
	display:       none;
}
#popupvidal {
	position:    fixed;
	left:        50%;
	margin-left: -160px;
	top:         200px;
	z-index:     999999;
	display:     none;
	width:       auto;
	background:  none;
	padding:     0
}
#closepopupvidal {
	border-radius: 3px;
	z-index:       9999999;
	position:      absolute;
	left:          0;
	top:           0;
	cursor:        pointer;
	opacity:       0.7;
}
#closepopupvidal:hover {
	opacity: 1;
}
/* pubs */
.pubs {
	font-size: 11px;
	color:     #666;
	border:    1px solid #CED2D5;
}
.pubs-title {
	background-color: #D8DBE2;
	color:            #476173;
	font-size:        12px;
	text-align:       center;
	padding:          1px 0 2px;
}
.p > p {
	margin: 0;
}
.p-title {
	font-weight: bold;
}
.p-title a, .pubs-title > a {
	color:           #476173;
	text-decoration: none !important;
}
.p-title a:hover, .pubs-title > a:hover {
	text-decoration: underline !important;
}
.p-announce {
	font-size: 11px;
}
.p {
	padding:       5px 4px 6px;
	border-bottom: 1px dashed #CED2D5;
}
.p.last {
	border-bottom: none;
	margin-bottom: 0;
}
.pubs .p-announce, .pubs .p-date {
	margin-top: 5px;
}
.p-date {
	text-align: right;
}
.p.sticked {
	border-bottom: 1px solid rgb(207, 207, 183);
	background:    beige;
}
.mobile_menu {
	display: none;
}
iframe {
	margin: 0
}
.mobile_social img {
	border-radius: 2px;
}
.centerBannerVia {
	text-align: center;
}
.banner-top, .banner-bottom {
	margin-top: 15px;
}
a[href="http://top.mail.ru/jump?from=2657295"], a[href="https://top.mail.ru/jump?from=2657295"] {
	display: none !important
}
.cookie-notice {
    color: #2e3f51;
    background-color: #F5F5F5;
    visibility: visible;
    padding: 7px;
    position: fixed;
    text-align: center;
    z-index: 100000;
    bottom: 0px;
    width: 100%;
}
.cookie-notice a {
    text-decoration: none;
    border: 1px solid #808080;
    padding: 3px;
}

.cookie-notice a:hover {
    background-color: #d71344;
    color: white;
}