.divisions {
	overflow: hidden;
}
.division {
	display:  table;
	position: relative;
	float:    left;
	width:    246px;
	margin:   0 11px 10px 0;
}
.division-link {
	display:         table-cell;
	vertical-align:  middle;
	height:          44px;
	padding:         0 24px 0 12px;
	border:          3px solid #eee;
	text-decoration: none;
	color:           #2f4053;
	font-weight:     bold;
	font-family:     'PT Sans Caption', sans-serif;
	font-size:       13px;
	background:      url(../images/down.png) no-repeat 98% 50%;
}
.division-link:hover {
	border-color: #e1e1e1;
}