{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
	<h1>Портфели препаратов</h1>
{% endblock %}


{% block nav %}
	<div class="breadcrumbs">
		<div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
			<a href="{{  path('index') }}" itemprop="url">
				<span itemprop="title">Видаль</span>
			</a>
		</div>
		<i></i>
		<div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
			<a href="{{ path('vracham') }}" itemprop="url">
				<span itemprop="title">Информация для специалистов</span>
			</a>
		</div>
		<i></i>
		<span>Портфели препаратов</span>
	</div>
{% endblock %}


{% block content %}
	<ul class="portfolios ul-style">
		{% for portfolio in portfolios %}
			<li>
				<span class="portfolio">
					<a href="{{ path('portfolio_item', {'url':portfolio.url}) }}">
						{{ portfolio.title|raw }}
					</a>
				</span>
				{% if portfolio.DocumentID.infoPages[0] is defined %}
					{% set infoPage = portfolio.DocumentID.infoPages[0] %}
					<br/>
					<a href="{{ path('inf_item', {'InfoPageID':infoPage.InfoPageID}) }}" class="no-underline infoPage">
						{{ infoPage.RusName|raw }}
					</a>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		.portfolios {
			font-size: 14px;
		}
		.portfolios li {
			margin-bottom: 8px;
			position:      relative;
		}
		.portfolios .portfolio {
			display: inline-block;
			width:   160px;
		}
		.portfolios .portfolio a {
			display:     inline-block;
			font-weight: bold;
		}
		.portfolios a.company {
			font-size:       14px;
			color:           #898989;
			text-decoration: none;
		}
		.portfolios a.company:hover {
			text-decoration: underline;
		}
		.portfolios .infoPage {
			color: #2f4053;
		}
	</style>
{% endblock %}