{% set isAdmin = app.user is not null and is_granted('ROLE_ADMIN') %}

{% if publications is not empty %}
	{% for publication in publications %}
		{% set withPhoto = publication.photo and is_file(publication.photo.path) %}
		{% set href = path('publication', {'id':publication.link ~ '-' ~ publication.id}) %}

		<div class="publication{{ withPhoto ? ' with-photo' }}">
			{# админам карандашик редактирования #}
			{% if isAdmin %}
				<a class="admin-edit fade" target="_blank"
				   href="{{ path('admin_vidal_drug_publication_edit', {'id':publication.id}) }}">
					<img src="{{ asset('bundles/vidalmain/images/edit.png') }}"/>
				</a>
			{% endif %}

			<div>
				<div class="publication-title">
					<a href="{{ href }}">{{ publication.title|raw }}</a>
				</div>
				<div class="publication-announce">
					{{ publication.announce|raw }}
				</div>
				{% if without_date is not defined %}
					<div class="publication-footer">
						<div class="publication-date">
							{{ publication.date|date('d.m.Y') }}
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	{% endfor %}
{% endif %}
