<div class="publications">
	{% for publication in publicationsPagination.items %}
		{% set withPhoto = publication.photo and is_file(publication.photo.path) %}
		<div class="publication{{ withPhoto ? ' with-photo' }}">
			{# админам карандашик редактирования #}
			<a class="admin-edit fade" target="_blank"
			   href="{{ path('admin_vidal_drug_publication_edit', {'id':publication.id}) }}">
				<img src="{{ asset('bundles/vidalmain/images/edit.png') }}"/>
			</a>

			{% if withPhoto %}
				<a class="photo" href="{{ path('publication', {id:publication.link ~ '-' ~ publication.id}) }}">
					<img src="{{ publication.photo.path }}" alt="{{ publication.title }}"/>
				</a>
			{% endif %}

			<div>
				<div class="publication-title">
					<a href="{{ path('publication', {id:publication.link ~ '-' ~ publication.id}) }}">{{ publication.title|raw }}</a>
				</div>
				<div class="publication-announce text">
					{{ publication.announce|raw }}
				</div>
				<div class="publication-date">
					{{ publication.updated|date('d.m.Y') }}
				</div>
			</div>
		</div>
	{% endfor %}

	<div class="navigation">
		{{ knp_pagination_render(publicationsPagination) }}
	</div>
</div>