{% extends 'VidalDrugBundle::vidal_layout.html.twig' %}


{% block nav %}
	<div class="breadcrumbs">
		<div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
			<a href="{{ path('index') }}" itemprop="url">
				<span itemprop="title">Видаль</span>
			</a>
		</div>
		<i></i>

		<span>Международные наименования</span>
	</div>
{% endblock %}


{% block vidal %}
	<div class="schema" itemscope itemtype="http://schema.org/Article">
		<h1 itemprop="name">Международные наименования <span>(МНН)</span></h1>

		<div class="gnp" itemprop="articleBody">
			<div class="gnp-title">
				Международные наименования присвоены активным веществам на основании данных
				"International Nonproprietary Names (INN) for Pharmaceutical Substances", 9th Edition WHO;
				"Index Nominum: International Drug Directory" 16th Edition; "MARTINDALE The Extra Pharmacopoeia",
				31st Edition; данных, представленных на сайте
				<a href="http://www.who.int/medicines/publications/druginformation/en/" target="_new">WHO
					Drug Information</a> и имеют следующие обозначения:
			</div>

			<ul class="gnp-items ul-style">
				{% for gnp in gnps %}
					<li>
						<b>{{ gnp.GNParent }}</b>
						<span>{{ gnp.description }}</span>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		.gnp {
			font-size: 15px;
		}
		.gnp-title {
			margin-bottom: 22px;
			text-align:    justify;
		}
		.gnp-items li {
			overflow:      hidden;
			margin-bottom: 5px;
		}
		.gnp-items li b {
			display: block;
			width:   95px;
			float:   left;
		}
		.gnp-items li span {
			display:     block;
			margin-left: 100px;
		}
	</style>
{% endblock %}



{% block javascripts %}
	{{ parent() }}
	<script>
		$(document).ready(function() {
			$('.schema img').each(function() {
				$(this).attr({
					itemprop: "image"
				});
			});

			$('.schema a').each(function() {
				var $a = $(this);
				$a.attr('itemprop', 'url');
				if (this.href.length
					&& this.href.charAt(0) != '/'
					&& this.href.indexOf('vidal.ru') === -1
					&& this.href.indexOf('localhost:97') === -1
				) {
					$a.attr('rel', 'nofollow');
				}
			});
		});
	</script>
{% endblock %}