<h3>Классификация аналогов</h3>
<ul class="ul-style">
	<li>
		<i>Полные аналоги</i> – препараты, имеющие в составе идентичные активные вещества и схожие формы
		выпуска.
	</li>
	<li>
		<i>Групповые аналоги (доступны специалистам)</i> – препараты, содержащие активные вещества
		со схожим механизмом действия и имеющие схожие формы выпуска.
	</li>
	<li>
		<i>Нозологические аналоги (доступны специалистам)</i> – могут быть использованы специалистами
		при назначении терапии в отсутствие препаратов «первой линии».
	</li>
</ul>