<a target="_blank" rel="nofollow" href="https://www.facebook.com/vidalru">
    <i class="social-sprite social-facebook-s"></i>
</a>
<a target="_blank" rel="nofollow" href="https://vk.com/vidalru">
    <i class="social-sprite social-vk-s"></i>
</a>
<a target="_blank" rel="nofollow" href="https://ok.ru/group/57622762815528">
    <i class="social-sprite social-ok-s"></i>
</a>
<a target="_blank" rel="nofollow" href="https://vidalru.livejournal.com/">
    <i class="social-sprite social-livejournal-s"></i>
</a>
<a target="_blank" rel="nofollow" href="https://google.com/+VidalRu">
    <i class="social-sprite social-gplus-s"></i>
</a>
<a target="_blank" rel="nofollow" href="https://twitter.com/Vidalru">
    <i class="social-sprite social-twitter-s"></i>
</a>
<a target="_blank" rel="nofollow" href="https://vidalru.blogspot.ru/">
    <i class="social-sprite social-blogspot-s"></i>
</a>
{#<a target="_blank" rel="nofollow" href="https://www.linkedin.com/company/vidal-ru/">
    <i class="social-sprite social-linkedin-s"></i>
</a>#}