{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}
{% set route = app.request.attributes.get('_route') %}
{% set is_super = is_granted('ROLE_SUPERADMIN') %}

{% block actions %}
	<div class="sonata-actions btn-group">
		{% include 'SonataAdminBundle:Core:create_button.html.twig' %}

		{% if route == 'admin_vidal_main_user_list' and is_super %}
			{% include 'VidalDrugBundle:Sonata:user_list_buttons.html.twig' %}

		{% elseif route == 'admin_vidal_drug_product_list' %}
			<a href="{{ path('generate_product_letters') }}" id="excel" class="btn sonata-action-element">
				Перегенерация букв на странице /drugs/products
			</a>
			<a href="{{ path('admin_product_parent') }}" class="btn sonata-action-element">
				Перегенерация связей основных/дочерних препаратов
			</a>
			<a href="{{ path('admin_autocomplete_product') }}" class="btn sonata-action-element">
				Обновить все подсказки ElasticSearch
			</a>

		{% elseif route == 'admin_vidal_drug_tag_list' and is_super %}
			<a href="{{ path('admin_tag_recalc') }}" class="btn sonata-action-element">Пересчитать материалы</a>
			<a href="{{ path('admin_tag_export') }}" class="btn sonata-action-element">Выгрузить в XLS</a>
		{% endif %}
	</div>
{% endblock %}

{% block side_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active'}, 'list') }}{% endblock %}

{% block list_table %}
	{% set batchactions = admin.batchactions %}
	{% if admin.datagrid.results|length > 0 %}
		{% if admin.hasRoute('batch') %}
			<form action="{{ admin.generateUrl('batch', {'filter': admin.filterParameters}) }}" method="POST" >
		{% endif %}
		<table class="table table-bordered table-striped">
			{% block table_header %}
				<thead>
				<tr class="sonata-ba-list-field-header">
					{% for field_description in admin.list.elements %}
						{% if admin.hasRoute('batch') and field_description.getOption('code') == '_batch' and batchactions|length > 0 %}
							<th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">
								<input type="checkbox" id="list_batch_checkbox"/>
							</th>
						{% elseif field_description.getOption('code') == '_select' %}
							<th class="sonata-ba-list-field-header sonata-ba-list-field-header-select"></th>
						{% elseif field_description.name == '_action' and app.request.isXmlHttpRequest %}
							{# Action buttons disabled in ajax view! #}
						{% else %}
							{% set sortable = false %}
							{% if field_description.options.sortable is defined and field_description.options.sortable %}
								{% set sortable             = true %}
								{% set current              = admin.datagrid.values._sort_by == field_description %}
								{% set sort_parameters      = admin.modelmanager.sortparameters(field_description, admin.datagrid) %}
								{% set sort_active_class    = current ? 'sonata-ba-list-field-order-active' : '' %}
								{% set sort_by              = current ? admin.datagrid.values._sort_order : field_description.options._sort_order %}
							{% endif %}

							{% spaceless %}
								<th class="sonata-ba-list-field-header-{{ field_description.type }} {% if sortable %} sonata-ba-list-field-header-order-{{ sort_by|lower }} {{ sort_active_class }}{% endif %}">
									{% if sortable %}<a
										href="{{ admin.generateUrl('list', sort_parameters) }}">{% endif %}
										{{ admin.trans(field_description.label) }}
										{% if sortable %}</a>{% endif %}
								</th>
							{% endspaceless %}
						{% endif %}
					{% endfor %}
				</tr>
				</thead>
			{% endblock %}

			{% block table_body %}
				<tbody>
				{% for object in admin.datagrid.results %}
					<tr>
						{% include admin.getTemplate('inner_list_row') %}
					</tr>
				{% endfor %}
				</tbody>
			{% endblock %}

			{% block table_footer %}
				<tr>
					<th colspan="{{ admin.list.elements|length - (app.request.isXmlHttpRequest ? (admin.list.has('_action') + admin.list.has('batch')) : 0) }}">
						<div class="form-inline">
							{% if not app.request.isXmlHttpRequest %}
							{% if admin.hasRoute('batch') and batchactions|length > 0 %}
								{% block batch %}
								<script type="text/javascript">
									{% block batch_javascript %}
									jQuery(document).ready(function($) {
										$('#list_batch_checkbox').click(function() {
											$(this).closest('table').find("td input[type='checkbox']").attr('checked', $(this).is(':checked')).parent().parent().toggleClass('sonata-ba-list-row-selected', $(this).is(':checked'));
										});
										$("td.sonata-ba-list-field-batch input[type='checkbox']").change(function() {
											$(this).parent().parent().toggleClass('sonata-ba-list-row-selected', $(this).is(':checked'));
										});
									});
									{% endblock %}
								</script>

								{% block batch_actions %}
								{# перезаписанный блок на пакетное удаление отмеченных галочкой #}
								<select name="action" style="width: auto; height: auto">
									<option value="delete">Удалить</option>
								</select>
								{% endblock %}
								{% endblock %}

							<input type="submit" class="btn btn-small btn-primary"
								   value="{{ 'btn_batch'|trans({}, 'SonataAdminBundle') }}"/>
							{% endif %}

								<div class="pull-right">
									{#{% if admin.hasRoute('export') and admin.isGranted("EXPORT") and admin.getExportFormats()|length %}#}
									{#{{ "label_export_download"|trans({}, "SonataAdminBundle") }}#}
									{#{% for format in admin.getExportFormats() %}#}
									{#<a#}
									{#href="{{ admin.generateUrl('export', admin.modelmanager.paginationparameters(admin.datagrid, 0) + {'format' : format}) }}">{{ format }}</a>{% if not loop.last %},{% endif %}#}
									{#{% endfor %}#}

									{#&nbsp;-&nbsp;#}
									{#{% endif %}#}

									{{ admin.datagrid.pager.page }} / {{ admin.datagrid.pager.lastpage }}

									&nbsp;-&nbsp;

									{% transchoice admin.datagrid.pager.nbresults with {'%count%': admin.datagrid.pager.nbresults} from 'SonataAdminBundle' %}
									list_results_count{% endtranschoice %}

									&nbsp;-&nbsp;
									<label class="control-label"
										   for="{{ admin.uniqid }}_per_page">{% trans from 'SonataAdminBundle' %}
										label_per_page{% endtrans %}</label>
									<select class="per-page small" id="{{ admin.uniqid }}_per_page"
											style="width: auto; height: auto">
										{% for per_page in admin.getperpageoptions %}
											<option
												{% if per_page == admin.datagrid.pager.maxperpage %}selected="selected"{% endif %}
												value="{{ admin.generateUrl('list', {'filter': admin.datagrid.values | merge({'_per_page': per_page})}) }}">
												{{ per_page }}
											</option>
										{% endfor %}
									</select>
								</div>
							{% endif %}
						</div>
					</th>
				</tr>
				{% if admin.datagrid.pager.haveToPaginate() %}
					<tr>
						<td colspan="{{ admin.list.elements|length }}">
							<div class="pagination pagination-centered">
								<ul>
									{% if admin.datagrid.pager.page > 2 %}
										<li>
											<a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, 1)) }}"
											   title="{{ 'link_first_pager'|trans({}, 'SonataAdminBundle') }}">&laquo;</a>
										</li>
									{% endif %}

									{% if admin.datagrid.pager.page != admin.datagrid.pager.previouspage %}
										<li>
											<a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, admin.datagrid.pager.previouspage)) }}"
											   title="{{ 'link_previous_pager'|trans({}, 'SonataAdminBundle') }}">&lsaquo;</a>
										</li>
									{% endif %}

									{# Set the number of pages to display in the pager #}
									{% for page in admin.datagrid.pager.getLinks() %}
										{% if page == admin.datagrid.pager.page %}
											<li class="active"><a
													href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, page)) }}">{{ page }}</a>
											</li>
										{% else %}
											<li>
												<a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, page)) }}">{{ page }}</a>
											</li>
										{% endif %}
									{% endfor %}

									{% if admin.datagrid.pager.page != admin.datagrid.pager.nextpage %}
										<li>
											<a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, admin.datagrid.pager.nextpage)) }}"
											   title="{{ 'link_next_pager'|trans({}, 'SonataAdminBundle') }}">&rsaquo;</a>
										</li>
									{% endif %}

									{% if admin.datagrid.pager.page != admin.datagrid.pager.lastpage and admin.datagrid.pager.lastpage != admin.datagrid.pager.nextpage %}
										<li>
											<a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, admin.datagrid.pager.lastpage)) }}"
											   title="{{ 'link_last_pager'|trans({}, 'SonataAdminBundle') }}">&raquo;</a>
										</li>
									{% endif %}
								</ul>
							</div>
						</td>
					</tr>
				{% endif %}
			{% endblock %}
		</table>
		{% if admin.hasRoute('batch') %}
			</form>
		{% endif %}
	{% else %}
		<p class="notice">
			{{ 'no_result'|trans({}, 'SonataAdminBundle') }}
		</p>
	{% endif %}
{% endblock %}

{% block list_filters %}
	{% if admin.datagrid.filters %}
		<form class="sonata-filter-form {{ admin.isChild and 1 == admin.datagrid.filters|length ? 'hide' : '' }}"
			  action="{{ admin.generateUrl('list') }}" method="GET">
			<fieldset class="filter_legend">
				<legend
					class="filter_legend {{ admin.datagrid.hasActiveFilters ? 'active' : 'inactive' }}">{{ 'label_filters'|trans({}, 'SonataAdminBundle') }}</legend>

				<div class="filter_container {{ admin.datagrid.hasActiveFilters ? 'active' : 'inactive' }}">
					<div>
						{% for filter in admin.datagrid.filters %}
							<div class="clearfix">
								<label
									for="{{ form.children[filter.formName].children['value'].vars.id }}">{{ admin.trans(filter.label) }}</label>
								{{ form_widget(form.children[filter.formName].children['type'], {'attr': {'class': 'span8 sonata-filter-option' }}
								) }}
								{{ form_widget(form.children[filter.formName].children['value'], {'attr': {'class': 'span8' }}
								) }}
							</div>
						{% endfor %}
					</div>

					<input type="hidden" name="filter[_page]" id="filter__page" value="1"/>

					{% set foo = form.children['_page'].setRendered() %}
					{{ form_rest(form) }}

					<input type="submit" class="btn btn-primary"
						   value="{{ 'btn_filter'|trans({}, 'SonataAdminBundle') }}"/>

					<a class="btn"
					   href="{{ admin.generateUrl('list', {filters: 'reset'}) }}">{{ 'link_reset_filter'|trans({}, 'SonataAdminBundle') }}</a>
				</div>
			</fieldset>
		</form>
	{% endif %}
{% endblock %}

{#######################################################################################}
