<!DOCTYPE html>
<html lang="ru">
<head>
	<title>{% spaceless %}{{ title }}{% endspaceless %}</title>
	<meta charset="UTF-8"/>
	<link rel="shortcut icon" href="{{ asset('favicon.ico') }}?v=2"/>

	{% block stylesheets %}
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/common.min.css') }}"/>
		<link rel="stylesheet" href="{{ asset('bundles/sonataadmin/select2/select2.css') }}" media="all">
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/checkbox/checkbox.css') }}"/>
		<link rel="stylesheet" type="text/css"
			  href="{{ asset('bundles/vidalmain/jquery-ui/jquery-ui-1.10.4.custom.min.css') }}"/>
		<style tyle="text/css">
			.content {
				width:  900px;
				margin: 25px auto;
			}
			body {
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			}
			.navbar {
				background-color:      #ffffff;
				margin:                0;
				padding:               0;
				font-size:             13px;
				font-weight:           normal;
				line-height:           18px;
				color:                 #404040;
				min-height:            40px;
				padding-left:          20px;
				padding-right:         20px;
				background-color:      #fafafa;
				background-image:      -moz-linear-gradient(top, #ffffff, #f2f2f2);
				background-image:      -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
				background-image:      -webkit-linear-gradient(top, #ffffff, #f2f2f2);
				background-image:      -o-linear-gradient(top, #ffffff, #f2f2f2);
				background-image:      linear-gradient(to bottom, #ffffff, #f2f2f2);
				background-repeat:     repeat-x;
				filter:                progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
				border:                1px solid #d4d4d4;
				-webkit-border-radius: 4px;
				-moz-border-radius:    4px;
				border-radius:         4px;
				-webkit-box-shadow:    0 1px 4px rgba(0, 0, 0, 0.065);
				-moz-box-shadow:       0 1px 4px rgba(0, 0, 0, 0.065);
				box-shadow:            0 1px 4px rgba(0, 0, 0, 0.065);
			}
			.brand {
				margin:          0px;
				padding:         0px;
				line-height:     40px;
				padding-right:   20px;
				font-size:       20px;
				font-weight:     200;
				color:           #555555;
				text-shadow:     0 1px 0 #ffffff;
				text-decoration: none;
			}
			.brand img {
				height:         28px;
				border:         none;
				vertical-align: middle;
			}
			form {
				width: 100%;
			}
			label {
				display:      inline-block;
				width:        100px;
				margin-right: 10px;
			}
			.row {
				margin-bottom: 10px;
			}
			.saved {
				background:    rgb(103, 177, 103);
				color:         white;
				padding:       4px 10px;
				font-size:     18px;
				margin-bottom: 20px;
			}
		</style>
	{% endblock %}

	{% block javascripts %}
		<script type="text/javascript" src="{{ asset('bundles/vidalmain/javascripts/jquery-1.11.0.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/vidalmain/checkbox/jquery.checkbox.js') }}"></script>
		<script src="{{ asset('bundles/sonataadmin/select2/select2.min.js') }}"></script>
		<script type="text/javascript"
				src="{{ asset('bundles/vidalmain/jquery-ui/jquery-ui-1.10.4.custom.min.js') }}"></script>
	{% endblock %}
</head>

<body>

<div class="navbar">
	<a href="https://vidal.ru/" class="brand">
		<img src="/favicon.ico" alt="Vidal.ru">
		Vidal.ru
	</a>
</div>

<div class="content">
	{% block content %}{% endblock %}
</div>

</body>
</html>