{% extends 'VidalBigMamaBundle::big_mama_layout.html.twig' %}

{% block content %}
    <div style="margin:15px;">
        {{ render(controller('VidalMainBundle:Index:Module', {'moduleId':13})) }}
    </div>
{% endblock %}