<!-- bx: _vidal_cardio smartpixel -->
<script type="text/javascript">
	(function(d) {

		var pxl = d.createElement("script");

		pxl.setAttribute("src", "//pixel.betweenx.com/s/_vidal_cardio/dist/smartPixel.min.js"); pxl.setAttribute("type", "text/javascript"); pxl.async = true;

		var s = d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pxl, s);

	} (document));
</script>
<!-- / bx: _vidal_cardio smartpixel -->

<!-- bx: _vidal_neurology smartpixel -->
<script type="text/javascript">
	(function(d) {
		var pxl = d.createElement("script");
		pxl.setAttribute("src", "//pixel.betweenx.com/s/_vidal_neurology/dist/smartPixel.min.js"); pxl.setAttribute("type", "text/javascript"); pxl.async = true;
		var s = d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pxl, s);
	} (document));
</script>
<!-- / bx: _vidal_neurology smartpixel -->