{# default Sliding pagination control implementation #}

{% if type is defined %}
	{% set query = query|merge({('type'): type}) %}
{% endif %}

{% if pageCount > 1 %}
	<div class="pagination">
		{% if first is defined and current != first %}
			<span class="first">
				{% if first == 1 %}
					<a href="{{ path(route, query|merge({(pageParameterName): null})) }}">«</a>
				{% else %}
					<a href="{{ path(route, query|merge({(pageParameterName): first})) }}">«</a>
				{% endif %}
        	</span>
		{% endif %}

		{% if previous is defined %}
			<span class="previous">
				{% if previous == 1 %}
					<a href="{{ path(route, query|merge({(pageParameterName): null})) }}">назад</a>
				{% else %}
					<a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">назад</a>
				{% endif %}
			</span>
		{% endif %}

		{% for page in pagesInRange %}
			{% if page != current %}
				<span class="page">
					{% if page == 1 %}
						<a href="{{ path(route, query|merge({(pageParameterName): null})) }}">{{ page }}</a>
					{% else %}
						<a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
					{% endif %}
           	    </span>
			{% else %}
				<span class="current">{{ page }}</span>
			{% endif %}

		{% endfor %}

		{% if next is defined %}
			<span class="next">
            	<a href="{{ path(route, query|merge({(pageParameterName): next})) }}">далее</a>
        	</span>
		{% endif %}

		{% if last is defined and current != last %}
			<span class="last">
            	<a href="{{ path(route, query|merge({(pageParameterName): last})) }}">»</a>
       		</span>
		{% endif %}
	</div>
{% endif %}
